<template>
  <div class="header">
    <button class="openNav" v-on:click="openNav()"></button>
  </div>
</template>

<script>
  export default {
    name: 'header',
    props: {
      msg: String
    },
    methods: {
      openNav: function(event) {
        Array.prototype.forEach.call(document.getElementsByClassName("rightpanel"), header =>
        { 
           header.style.width="400px";
        })
        Array.prototype.forEach.call(document.getElementsByClassName("sidenav"), sideNav => 
        {
          sideNav.style.width="400px";
        });
      }
    }
  }
</script>