
<template>
 <div class="rightpanel">
    <div class="image_location">
      <span class="image"></span>
      <img class="logo" src="../images/smartpay-logo.svg" alt="smartpay_logo">
    </div>
    <div class="response">
      <div v-if="loading" class="loading">
        <img src="../images/load.gif" class="load">
      </div>
      <div v-if="companies" class="companies" style="margin-left:65px;">
        <h2>Companies:</h2>
        <ul>
          
          <li v-bind:key="company" v-for="company in companies" style="margin-left:-10px;">
          {{company.company}}
        </li>
        </ul>
      </div>
      <div v-if = "error" class="error" style="color:red;">
        {{error}}
      </div>
    </div>
  </div>
</template>

<script>
import { setTimeout } from 'timers';
import axios from 'axios';

export default { 
    name: 'rightpanel',
    props: {
        msg: String
    },
    data(){
      return{
        loading: false,
        companies: null,
        error: null
      }
    },
    created(){
      this.retrievedCompanies();
      this.retrieveError();
    },
  methods:{
    getCompanies(){
      var self = this;
      self.loading = true;
      setTimeout(function(){
        axios.get('http://localhost:5489/companies').then((response) =>{
          self.loading = false;
          self.companies = response.data;
        }).catch((error) => {
          self.error = error;
          console.log=(error);
        })
      }, 3000);
    },
    getErrors(){
      var self = this;
      setTimeout(function(){
        axios.get('http://localhost:5489/error').then((response) =>{
          self.loading = false;
          self.companies = response.data;
        }).catch((error) =>{
          self.error = error;
          console.log(error);
        })
      }, 3000)

    }
  }
}

</script>
