<template>
<div class="sidenav">
    
  <p>I'm&nbsp;a&nbsp;left&nbsp;panel!</p>

    <button class="closeNav" v-on:click="closeNav()"></button>
</div>
  
</template>
<script>
export default { 
    name: 'sidenav',
    props: {
        msg: String
    },


methods: {
  closeNav: function(event) {
    Array.prototype.forEach.call(document.getElementsByClassName("rightpanel"), header => 
  {
    header.style.marginLeft = "0px";
  })
  Array.prototype.forEach.call(document.getElementsByClassName("sidenav"), sideNav => 
  {
    sideNav.style.width = "0px";
  })
}
}
}
</script>