<template>
  <div id="myApp">
    <header/>
    <div class="content">
      <sidenav/>
      <rightpanel/>
    </div>
  </div>
</template>

<script>
import sidenav from './components/sidenav.vue'
import rightpanel from './components/rightpanel.vue'
import header from './components/header.vue'

export default {
  name: 'myApp',
  components: {
    header,
    sidenav,
    rightpanel
  }
}
</script>

<style>
body {
  background-color: darkgray;
  margin: 0px;
}

.logo{
  animation: logo 20s;
}
.load{
  animation-duration: 3s;
}
@keyframes logo{
  from {opacity: 0.0;}
  to{opacity: 1.0;}
}
img{
  vertical-align: middle;
  height: 200px;
  width: 300px;
}
.image{
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}
.image_location{
  text-align: center;
  vertical-align: middle;
  height: 90vh;
}
.rightpanel{
  transition: margin-left 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidenav {
  height: 100%;
  margin-top: -45px;
  margin-left: -10px;
  width: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgb(12, 2, 109);
  transition: 1s width;
  white-space: nowrap;
}
.sidenav a {
  padding: 0px 0px 0px 20px;
  color: #005e27;
  display: block;
  transition: 1s;
}

.header{
  background-color: white;
  height: 45px;
  overflow: hidden;
}
.openNav{
  margin: 10px 5px 5px 5px;
  height: 23px;
  border:none;
  background-color: white;
}
.closeNav{
  border: solid;
  border-width: 1px;
  margin: 10px 5px 5px 5px;
  position: absolute;
  right:10px;
  height:23px;
  background-color: white;
}

</style>
